.get-in-touch-main-cont{
    transform: translate(290px,47px);
    width: 1540px;
    color: #312f30c5;
    display: flex;
}


.get-in-touch-main-cont >div> hr{
    margin-left: 0px;
    border: 1px solid rgba(255, 0, 0, 0.541);
    width: 130px;
    
}
.main-form-cont{
    transform: translate(0px,70px);
    display: flex;
    flex-direction: column;
}

.form-cont{
    margin-top: 28px;
    text-align: start;
}
.form-cont > .p{
    transform: translate(2px,4px);
    width: 750px;
    word-wrap: break-word;
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
}
.form-cont > h1{
    transform: translate(0px,-2px);
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.form-cont > hr{
    transform: translate(0px,64px);;
}
.half-input{
    font-family: 'Open Sans', sans-serif;

    margin-top: 63px;
    width: 284px;
    height: 66px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.068);
    border: none;
    margin-right: 55px;
    padding-left: 53px;
    font-size: 19px;
}
.half-input-email{
    font-family: 'Open Sans', sans-serif;

    margin-top: 63px;
    width: 284px;
    height: 66px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.068);
    border: none;
    margin-right: 55px;
    padding-left: 48px;
    font-size: 16px;
}
.textarea-input{
    font-family: 'Open Sans', sans-serif;

    height: 188px;
    width: 649px;
    border-radius:10px;
    background: rgba(158, 158, 158, 0.205);
    border: none;
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 30px;
    padding-left: 53px;
    font-size: 16px;
}
button{
    font-family: 'Open Sans', sans-serif;

    margin-left: 2px;
    margin-top: 15px;
    background-color: #ff3f40 ;
    width: 728px;
    height: 72px;
    margin-bottom: 20px;
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.541);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 2px;
}

.contact-info-cont{
    transform: translate(57px,345px);
    display: flex;
    

}
.info{
    color: white;
    background-color: #312f30;
    width: 575px;
    height: 481px;
}
.info > h1{
    transform: translate(-140px,122px);
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-bottom: -4px;
}

.info > .p{
    font-family: 'Open Sans', sans-serif;
    
    transform: translate(-150px,140px);
    line-height: 29px;
}
.mail{
    font-family: 'Open Sans', sans-serif;
    transform: translate(-170px,141px);
}
.phone{
    font-family: 'Open Sans', sans-serif;
    transform: translate(-131px,151px);

}