.main-team-cont{
    transform: translate(0px,438px);
    width: 1500px;
}

.team-text-cont{
    transform: translate(-286px,1px);
    
    display: flex;
    flex-direction: column;
    /* margin-left: 153px ; */
    /* margin-top: 181px; */
    color: #312f30c5;
} 

.team-text-cont > h1{
    transform: translate(-10px,0px);

    font-size: 41px;
    letter-spacing: 1.5px;
}
.team-text-cont >.p{
    transform: translate(580px,-20px);
    line-height: 28px;
    word-wrap: break-word;
    text-align: start;
}

.team-text-cont > hr{
    transform: translate(-104px,-15px);
    width: 128px;
    border: 1px solid rgba(255, 0, 0, 0.507) ;

}

.team-members-main-cont{
    display: flex;
    /* margin-bottom: 103px; */
}

.img-cont{
    width: 50%;
    transform: translate(200px,46px);
}
.img-cont > img{
    /* margin-top: 50px; */
    /* margin-left: 112px; */
    /* margin-right: 50px; */
    /* margin-top: 60px; */
    height: 462px;
    width: 422px;
    /* height: 100%; */
    object-fit: cover;
    /* width: 300px; */
}

.description{
    transform: translate(183px,27px);
    display: flex;
    flex-direction: column;
    color: #312f30c5;
    width: 100%;
    /* margin-top: 30px; */
}
.description-text{
    /* transform: translate(-208px,29px); */
    text-align: start;
    width: 600px;
    word-wrap: break-word;
}
.description-text > h2{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.3px;
}
.description-text > p{
    transform: translate(2px,-4px);
    line-height: 28px;
}

.socials{
    transform: translate(3px,14px);
    width: 400px;
    display: flex;
    font-style: italic;
    /* margin-top: -7px; */
    /* margin-left: -53px; */
    letter-spacing: 0.8px;;
    font-weight: 600;
    font-size: 18px;
}
.socials > span{
margin-right: 28px;
}
.teamates{
    transform: translate(3px,46px);
    display: flex;
}

.teamates >div > img{
    margin-right: 20px;
    margin-top: 30px;
    width: 197px;
    height: 215px;
    object-fit: cover;
}

.teamate-img:hover .mate-name{
    top: -42px;
}

.mate-name {
    display: flex;
    color: white;
    position: relative;
    top: -10000000px;
    justify-content: center;
    background-color: #312f3071;
    padding: 9px;
    height: 19px;
    width: 179px;
}
