.main-team-cont{
    /* transform: translate(0px,438px); */
    /* width: 1500px; */
    /* margin-left: 8.85%; */
    /* margin-top: 8.85%; */
}

.team-text-cont{
    /* transform: translate(-286px,1px); */
    margin-left: 8.85%;
    margin-top: 8.85%;
    display: flex;
    flex-direction: column;
    /* margin-left: 153px ; */
    /* margin-top: 181px; */
    color: #312f30c5;
} 

.team-text-cont > h1{
    /* transform: translate(-10px,0px); */

    font-size: 41px;
    letter-spacing: 1.5px;
}
.team-text-cont >.p{
    /* transform: translate(580px,-20px); */
    margin-top: -1.4%;
    margin-left: 0.8%;
    line-height: 28px;
    word-wrap: break-word;
    text-align: start;
}

.team-text-cont > hr{
    margin-top: 2.65%;
    margin-left: 1%;
    width: 128px;
    border: 1px solid rgba(255, 0, 0, 0.507) ;

}

.team-members-main-cont{
    display: flex;
    /* margin-bottom: 103px; */
}

.img-cont{
    width: 35%;
    /* transform: translate(200px,46px); */
}
.img-cont > img{
    /* margin-top: 50px; */
    margin-left: 18.5%;
    /* margin-right: 50px; */
    margin-top: 10%;
    height: 82%;
    width: 71%;
    /* height: 100%; */
    object-fit: cover;
    /* width: 300px; */
}

.description{
    margin-left: -2.5%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    color: #312f30c5;
    /* width: 100%; */
    /* margin-top: 30px; */
}
.description-text{
    /* transform: translate(-208px,29px); */
    text-align: start;
    /* width: 600px; */
    word-wrap: break-word;
}
.description-text > h2{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.3px;
}
.description-text > p{
    transform: translate(2px,-4px);
    line-height: 28px;
}

.socials{
    /* transform: translate(3px,14px); */
    /* width: 400px; */
    display: flex;
    font-style: italic;
    margin-top: 1.6%;
    margin-left: 0.3%;
    letter-spacing: 0.8px;;
    font-weight: 600;
    font-size: 18px;
}
.socials > span{
margin-right: 28px;
}
.teamates{
    margin-top: 3.7%;
    margin-left: 0.5%;
    /* transform: translate(3px,46px); */
    display: flex;
}

.teamates >div > img{
    margin-right: 20px;
    margin-top: 30px;
    width: 197px;
    height: 215px;
    object-fit: cover;
}

.teamate-img:hover .mate-name{
    top: -42px;
}

.mate-name {
    display: flex;
    color: white;
    position: relative;
    top: -10000000px;
    justify-content: center;
    background-color: #312f3071;
    padding: 9px;
    height: 19px;
    width: 179px;
}

@media screen and (max-width: 1440px) {
    .img-cont > img{
        width: 100%;
        margin-left: -12%;
        margin-top: 13%;
    }
    .team-members-main-cont{
        flex-wrap:wrap ;
    }
}

@media screen and (max-width: 1080px) {
    .team-members-main-cont{
        display: flex;
        flex-direction: column;
    }
    .description{
        margin-top: -300px;
        margin-left: 40%;

    }
    .description-text{
        width: 80%;
    }
    .teamates{
        margin-top: 100px;
        margin-left:-350px ;
        flex-wrap: wrap;
    }
    .socials> span{
        font-size: 14px;
    }
}
@media screen and (max-width: 720px) {
    .team-members-main-cont{
        flex-direction: column;
    }
    .description{
        margin: 0;
    }
    .description-text{
        width: 55%;
    }
    .description-text > h2{
        font-size: 25px;
    }
    .teamates{
        margin-top: 0px;
    }
    .description-text > p{
        margin-right: 40px;
    }
    .description-text{
        margin-top: -220px;
        margin-left:220px ;
    }
    .img-cont{
        margin-left: 10px;
    }
    .img-cont>img{
        width: 206px;
        height: 204px;
    }
    .teamates{
        margin-left: -80px;
        flex-wrap: wrap;
    }
    .teamates> div> img{
        width: 140px;
        height:140px;
    }
    .teamate-img{
        margin-right: -29px;
    }
    .team-text-cont > hr{
        display: none;
    }

}

@media screen and (max-width: 480px) {
    .team-text-cont>h1{
        width: 100%;
        margin-left: -40px;
        font-size: 30px;
    }
    .team-text-cont>.p{
        width: 90%;
        margin-left: -60px;
    }
    .team-members-main-cont{
        margin-left: -50px;
    }
    .img-cont{
        width: 70%;
        margin-top: 40px;
        margin-left: 50px;
    }
    .description-text> h2{
        width: 220%;
        margin-top: -70px;
        margin-left: -160px;
    }
    .description-text>p{
        margin-top: 280px;
        margin-left: -195px;
    }
    .description-text{
        width: 30%;
    }
    .socials > span{
        margin-right: 10px;
    }
    .teamates{
        margin-left: -10px;
        display: flex;
        flex-wrap: wrap;
    }
    .teamates > div > img{
        height: 120px;
        width: 120px;
    }
    .teamates > div{
        width: 35% ;
        margin-left: 20px;
        /* margin: 10px; */
        /* margin-top: -10px; */
        
    }
    .teamate-img{
        margin-right: 3px ;
    }
}