.background-img-cont{
    margin-top: 580px;
    background: 50%  no-repeat url(https://www.fotospeed.com/media/cms/Blog%20images/Black%20and%20White/Black%20and%20white.jpg);
    background-size: cover ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 513px;
}

.background-img-cont > h1{
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1.3px;
    margin-top: 130px;
    /* margin-bottom: 10px; */
}
.background-img-cont > p{
    margin-top: -5px;
}

.email-sun-input {
    transform: translate(59px,30px);
}
.email-sun-input > input{
    width: 486px;
    height: 75px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    padding-left: 32px ;
    margin-left: -110px;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;

}

.email-sun-input > button{
    transform: translate(-8px);
    width: 214px;
    height: 79px;
    color: white ;
    background-color:#ff3f40 ;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 120px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 29px ;
}
