body{
    font-family: 'Open Sans', sans-serif;
}
.video-main-cont{
    display: flex;
    background-color: #f6f2f1;
    height: 601px;
    max-width: 1705px;
}
/* @media screen and (max-width: 1024px) {
    .video-main-cont{
        flex-direction: column;
    }
} */
.s-string > h1{
    transform: translate(148px,54px);
    font-size: 60px;
    font-weight: 800 ;
    letter-spacing: 5.9px;
}
.f-string > h1{
    transform: translate(55px,104px);
    font-size: 60px;
    font-weight: 800 ;
    letter-spacing: 1.4px;
}

.text-cont{
    transform: translate(142px,0px);
}
.text-cont > .p{
    transform: translate(150px,26px);
    width: 540px;
    height: 200px;
    word-wrap: break-word;
    line-height: 29px;
    text-align: start;
}

.contact-btn{
    transform: translate(-38px,-51px);
    width: 227px;
    height: 55px;
    color: white;
    background-color:#ff3f40 ;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;

}

.video-cont{
    transform: translate(220px,10px);
    width: 550px;
}
.video-cont > iframe{
    transform: translate(160px,119px);
    width: 550px;
    height: 350px;
    border: 10px solid rgb(250, 240, 214);
}