body{
    font-family: 'Open Sans', sans-serif;
}
.header-dark{
    position: relative;
    /* transform: translate(292px, 33px); */
    display: flex;
    background-color: #312f30;
    height: 89px;
    width:68.12%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.78%;
}


.group-btn-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-right: 3.55%;
}

.group-btn-cont > .disabled{
    display: flex;
    height: 84px;
    width: 90px;
    align-items: center;
    justify-content: center;
    background-color: #312f30;
    font-size: 14px;
}
.header-link-btn-active > h1{
    transform: translate(0px,1px);

}
.disabled > h1{
    transform: translate(2px,0px);
}
.header-link-btn-active{
    display: flex;
    height: 84px;
    width: 90px;
    align-items: center;
    justify-content: center;
    background-color: #ff3f40;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 28px;
}
.group-btn-cont > div{
    display: flex;
    height: 89px;
    width: 90px;
    align-items: center;
    justify-content: center;
    background-color: #ff3f40;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 28px;
}
h1{
    font-size: 14px;
    font-weight: 600;
    margin-top: 17px;
    letter-spacing: 0.7px;
}


@media screen and (max-width: 1440px){
    .header-dark{
        width: 100%;
        transform: translate(0px, 0px);

    }
}
@media screen and (max-width: 480px) {
    .group-btn-cont{
        width: 100%;
    }
    
}


