.feature-main-cont{
    transform: translate(130px,219px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #312f30c5;
    width: 1700px;
}
.feature-main-cont > h1{
    transform: translate(64px,0px);
    font-size: 42px;
    margin-left: -225px ;
    font-weight: 700;
    letter-spacing: 0.4px;

}
.feature-main-cont > .p{
    transform: translate(-42px,-26px);
    line-height: 27px;
}
.feature-main-cont > hr{
    transform: translate(-46px,-25px);
    width: 128px;
    border: 1px solid rgba(255, 0, 0, 0.678);
}
.selectors{
    transform: translate(-69px,30px);
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    color: #312f30c5;
}
.selectors > span > h2{
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
}
.selectors >span{
    margin-left: 58px;
}
.selectors > .active{
    color: #e62121dc
}

.photo-main-cont{
    transform: translate(-100px,0px);
    display: flex;
    flex-direction: column;
    width: 80%;
}
.row-img-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.photo-main-cont >div>img{
     height: 250px;
     width: 250px;
     object-fit: cover;
}