.footer-cont{
    display: flex;
    background-color: rgba(17, 17, 17, 0.884);
    color: white;
    justify-content: space-between;
    /* height: 111px; */
    width: 82.9%;
    margin: 0 auto;
    margin-top: 90px;
    padding: 28.5px;
    /* padding-left: -10px; */
}
.copy::before{
    content: '\00a9';
}
.copy{
    transform: translate(-18px,38px);
}
.footer-cont > .p{
    margin-top: -13px ;
    margin-left: 153px;
    /* transform: translate(182px,37px); */
    font-size: 16px;
    letter-spacing: 0.03px;
}
.icons-cont{
    display: flex;
    justify-content: space-around;
    width: 13.4%;
    margin-right: 130px;
    margin-top: 20px;
    /* transform: translate(-132px,50px); */
}

.icons-cont > div > img{
    height: 30px;
    border-radius: 50%;

    /* padding-right:45px ; */
}
@media screen and (max-width: 720px) {
    .footer-cont > .p{
        margin: 0;
    }
    .icons-cont{
        margin-right: 40px;
    }
    .icons-cont>div{
        margin-right: 10px;
    }
}

@media screen and (max-width: 480px) {
    .footer-cont{
        width: 80%;
    }
    .footer-cont > .p{
        margin-left: 0px;
    }
    .icons-cont{
        display: flex;
        width: 20%;
        margin: 0;
        flex-wrap: wrap;
    }
    .icons-cont>div{
        margin: 0;
    }
    
}