.footer-cont{
    transform: translate(128px,207px);
    display: flex;
    background-color: rgba(17, 17, 17, 0.884);
    color: white;
    justify-content: space-between;
    height: 111px;
    width: 86%;
}
.footer-cont > .p{
    transform: translate(182px,37px);
    font-size: 16px;
    letter-spacing: 0.03px;
}
.icons-cont{
    display: flex;
    transform: translate(-132px,50px);
}
.icons-cont > div{
    padding-right:45px ;
}